<!DOCTYPE html>
<html>
<head>
    <title>Template Base</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h2>Hola mundo desde Django</h2>
    <h3>Con Template</h3>
    <p>
        {{myText}},
        {{myNumber}}
    </p>
    <ul>
        {% for myItem in myList %}
            <li>{{forloop.counter}} - {{ myItem }}
            {% if myItem == 33 or myItem == 44 %}
                - Este número es mágico
            {% elif myItem > 50 %}
                -Este número es mayor que 50
            {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% endblock %}
</body>
</html>